#app {
  max-width: 1280px;
  width: 100vw;
  height: 5vh;
  margin: 0 auto;    
  display: flex;     
  justify-content: center; 
  align-items: center;
}

.btn-gap {
  display: flex;         
  gap: 1rem;             
  margin: 2rem auto;     
  align-items: center;   
  height: 100%;          
}


.logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.debug{
  background-color: purple;
}